# Whisk
nginx.conf
whisk.properties
default.props

.ant-targets-build.xml
/results/
/logs/
/config/custom-config.xml
results
*.retry

# Eclipse
bin/
**/.project
.settings/
.classpath
.cache-main

# Linux
*~

# Mac
.DS_Store

# Gradle
.gradle
build/

# Python
.ipynb_checkpoints/
*.pyc

# NodeJS
node_modules

# Vagrant
.vagrant*

# IntelliJ
.idea

# Ansible
ansible/environments/mac/hosts
ansible/db_local.ini*
ansible/tmp/*

