# Whisk
nginx.conf
whisk.properties
default.props

.ant-targets-build.xml
/results/
/logs/
/config/custom-config.xml
cloudant-local.env
couchdb-local.env
results
*.retry

# Eclipse
bin/
**/.project
.settings/
.classpath
.cache-main

# Linux
*~

# Mac
.DS_Store

# Gradle
.gradle
build/

# Python
.ipynb_checkpoints/
*.pyc

# NodeJS
node_modules

# Vagrant
/tools/vagrant/.vagrant