# Auto detect text files and perform LF normalization.
# Resources:
#       - https://www.kernel.org/pub/software/scm/git/docs/gitattributes.html
#       - http://davidlaing.com/2012/09/19/customise-your-gitattributes-to-become-a-git-ninja/
#       - https://help.github.com/articles/dealing-with-line-endings/
* text=auto

*.go            text eol=lf
*.java          text
*.js            text
*.md            text
*.py            text
*.scala         text
*.sh            text eol=lf
*.gradle        text
*.xml           text

*.jar           binary
*.png           binary
