whisk.logs.dir={{whisk.logs.dir}}
docker.port={{docker.port}}
docker.timezone.mount=
docker.image.tag=latest
python.27=python
use.cli.download=false
nginx.conf.dir=/tmp/nginx
whisk.version.name = local
whisk.version.date = 2016-02-24T04:30:07-05:00
testing.auth=guest
whisk.ssl.cert=config/keys/openwhisk-self-cert.pem
whisk.ssl.key=config/keys/openwhisk-self-key.pem
whisk.ssl.challenge=openwhisk
activator.host=172.17.0.1
consulserver.host=172.17.0.1
controller.host=172.17.0.1
edge.host=172.17.0.1
kafka.host=172.17.0.1
loadbalancer.host=172.17.0.1
router.host=172.17.0.1
cli.api.host=172.17.0.1
zookeeper.host=172.17.0.1
invoker.hosts=172.17.0.1
invoker.container.network=bridge
consulserver.docker.endpoint=172.17.0.1:4243
edge.docker.endpoint=172.17.0.1:4243
kafka.docker.endpoint=172.17.0.1:4243
main.docker.endpoint=172.17.0.1:4243
docker.registry=
use.docker.registry=false
docker.tls.cmd=
docker.addHost.cmd=
docker.dns.cmd=
docker.restart.opts=
edge.host.uiport=443
edge.host.apiport=443
zookeeper.host.port=2181
kafka.host.port=9092
kafkaras.host.port=9093
controller.host.port=10001
loadbalancer.host.port=10003
activator.host.port=12000
activator.docker.port=8080
controller.docker.port=8080
loadbalancer.docker.port=8080
kafka.docker.port=9092
kafkaras.docker.port=8080
invoker.docker.port=8080
zookeeper.docker.port=2181
consul.docker.port1=8301
consul.docker.port2=8302
consul.docker.port3=8400
consul.docker.port4=8500
consul.docker.port5=53
consul.host.port4=8500
consul.host.port5=8600
invoker.hosts.baseport=12001
cloudant.username={{cloudant.username}}
cloudant.password={{cloudant.password}}
cloudant.whisk.actions={{cloudant.whisks_db}}
cloudant.whisk.auths={{cloudant.auth_db}}
cloudant.db.prefix=vagrant_dyn9152wsk_
