#!/bin/bash
#
# Set the CouchDB protocol, host, port, usename and password for OpenWhisk to use.
# The user should have administrative rights (if applicable).

# Should be one of { http, https }
OPEN_WHISK_DB_PROTOCOL={{ db_protocol }}

OPEN_WHISK_DB_HOST={{ db_host }}

OPEN_WHISK_DB_PORT={{ db_port }}

OPEN_WHISK_DB_USERNAME={{ db_username }}

OPEN_WHISK_DB_PASSWORD={{ db_password }}
