<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Locations</key>
	<dict>
		<key>actions</key>
		<string>https://openwhisk.ng.bluemix.net/api/v1/</string>
		<key>triggers</key>
		<string>https://openwhisk.ng.bluemix.net/api/v1/</string>
	</dict>
</dict>
</plist>
