include classpath("application.conf")

whisk {
  couchdb {
    protocol = "{{ db_protocol }}"
    host     = "{{ db_host }}"
    port     = "{{ db_port }}"
    username = "{{ db_username }}"
    password = "{{ db_password }}"
    provider = "{{ db_provider }}"
    databases {
      WhiskAuth       = "{{ db.whisk.auth }}"
      WhiskEntity     = "{{ db.whisk.actions }}"
      WhiskActivation = "{{ db.whisk.activations }}"
    }
  }
}
