openwhisk.home={{ openwhisk_home }}

python.27=python
use.cli.download=false
nginx.conf.dir={{ nginx_conf_dir }}
testing.auth={{ openwhisk_home }}/ansible/files/auth.guest
vcap.services.file=

whisk.logs.dir={{ whisk_logs_dir }}
whisk.version.name={{ whisk_version_name }}
whisk.version.date={{ whisk.version.date }}
whisk.version.buildno={{ docker_image_tag }}
whisk.ssl.cert={{ openwhisk_home }}/ansible/roles/nginx/files/openwhisk-cert.pem
whisk.ssl.key={{ openwhisk_home }}/ansible/roles/nginx/files/openwhisk-key.pem
whisk.ssl.challenge=openwhisk

defaultLimits.actions.invokes.perMinute={{ defaultLimits.actions.invokes.perMinute }}
defaultLimits.actions.invokes.concurrent={{ defaultLimits.actions.invokes.concurrent }}
defaultLimits.triggers.fires.perMinute={{ defaultLimits.triggers.fires.perMinute }}
defaultLimits.actions.invokes.concurrentInSystem={{ defaultLimits.actions.invokes.concurrentInSystem }}
defaultLimits.actions.sequence.maxLength={{ defaultLimits.actions.sequence.maxLength }}

{% if limits is defined %}
limits.actions.invokes.perMinute={{ limits.actions.invokes.perMinute }}
limits.actions.invokes.concurrent={{ limits.actions.invokes.concurrent }}
limits.actions.invokes.concurrentInSystem={{ limits.actions.invokes.concurrentInSystem }}
limits.triggers.fires.perMinute={{ limits.triggers.fires.perMinute }}
{% endif %}

consulserver.host={{ groups["consul_servers"]|first }}
controller.host={{ groups["controllers"]|first }}
edge.host={{ groups["edge"]|first }}
{% if groups['entitlement_servers'] is defined %}
entitlement.host={{ groups["entitlement_servers"] | first }}
{% endif %}
kafka.host={{ groups["kafka"]|first }}
loadbalancer.host={{ groups["controllers"]|first }}
router.host={{ groups["edge"]|first }}
cli.api.host={{ cli_api_host | default(groups['edge'] | first) }}
zookeeper.host={{ groups["kafka"]|first }}
invoker.hosts={{ groups["invokers"] | join(",") }}

edge.host.uiport=443
edge.host.apiport=443
{% if groups['entitlement_servers'] is defined %}
entitlement.host.port={{ entitlement.port | default }}
{% endif %}
zookeeper.host.port={{ zookeeper.port }}
kafka.host.port={{ kafka.port }}
kafkaras.host.port={{ kafka.ras.port }}
controller.host.port={{ controller.port }}
loadbalancer.host.port={{ controller.port }}
consul.host.port4={{ consul.port.http }}
consul.host.port5={{ consul.port.server }}
invoker.hosts.baseport={{ invoker.port }}

invoker.container.network=bridge
invoker.container.policy={{ invoker_container_policy_name | default()}}
invoker.numcore={{ invoker.numcore }}
invoker.coreshare={{ invoker.coreshare }}
invoker.serializeDockerOp={{ invoker.serializeDockerOp }}
invoker.serializeDockerPull={{ invoker.serializeDockerPull }}

consulserver.docker.endpoint={{ groups["consul_servers"]|first }}:{{ docker.port }}
edge.docker.endpoint={{ groups["edge"]|first }}:{{ docker.port }}
kafka.docker.endpoint={{ groups["kafka"]|first }}:{{ docker.port }}
main.docker.endpoint={{ groups["controllers"]|first }}:{{ docker.port }}

docker.registry={{ docker_registry }}
docker.image.prefix={{ docker_image_prefix }}
#use.docker.registry=false
docker.port={{ docker.port }}
docker.timezone.mount=
docker.image.tag={{ docker_image_tag }}
docker.tls.cmd=
docker.addHost.cmd=
docker.dns.cmd={{ docker_dns }}
docker.restart.opts={{ docker.restart.policy }}

db.provider={{ db_provider }}
db.protocol={{ db_protocol }}
db.host={{ db_host }}
db.port={{ db_port }}
db.username={{ db_username }}
db.password={{ db_password }}
db.prefix={{ db_prefix }}
db.whisk.actions={{ db_prefix }}whisks
db.whisk.auths={{ db_auth }}
