{# this template is used to generate a config.json for booting a consul server #}
{
    "server": true,
    "data_dir": "/consul/data",
    "ui": true,
    "log_level": "WARN",
    "node_name": "{{ ansible_host | default(inventory_hostname) }}",
    "client_addr": "0.0.0.0",
    "advertise_addr": "{{ ansible_host | default(inventory_hostname) }}",
    "ports": {
        "dns": 8600
    },
    "bootstrap": true,
    "disable_update_check": true
}