<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <jmxConfigurator></jmxConfigurator>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{yyyy-MM-dd'T'HH:mm:ss.SSS'Z'}] [%p] %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Apache HttpClient -->
    <logger name="org.apache.http" level="ERROR" />

    <!-- Kafka -->
    <logger name="org.apache.kafka" level="ERROR" />
    <logger name="kafka" level="ERROR" />

    <!-- Zookeeper -->
    <logger name="org.apache.zookeeper" level="ERROR" />
    <logger name="org.apache.curator" level="ERROR" />

    <logger name="akka.event.slf4j.Slf4jLogger" level="WARN" />

    <!-- Disable verbose info logging from processor library-->
    <logger name="com.microsoft.azure.documentdb.changefeedprocessor.services" level="WARN" />
    <logger name="com.microsoft.azure.documentdb.changefeedprocessor.internal" level="WARN" />

    <logger name="org.apache.openwhisk.core.database.cosmosdb.cache" level="DEBUG" />

    <root level="${logback.log.level:-INFO}">
        <appender-ref ref="console" />
    </root>
</configuration>